* {	
font-family: 'Encode Sans', sans-serif;
transition: all .1s ease-in;
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
html:before, html:after, body:before { 
content:""; position:fixed; z-index:-1; top:0; left:0; right:0; bottom:0; border:17px solid #1151BA; 
}
html:after { 
z-index:30; top:auto; border-width:0 0 15px; 
}
body:before {
z-index:30; bottom:auto; border-width:15px 0 0; 
}
body {
background-color: #6F9BEB
}
header {
font-size: 13px;
margin-top: 50px;
margin-left: 300px;
text-align: left;
}
.city-list{
margin-left: 300px;
margin-right: 300px;
margin-top: 30px;
font-size: 0px;
cursor: pointer;
min-height: 178px;
}
.city-list:hover > li {
    opacity: .3;
}
.city-list > li:hover {
    opacity: 1;
    /*transform: scale(1) rotate(-180deg);*/
}
.city-list li {
list-style-type: none;
display: inline-block;
font-size: 20px;
text-align: center;
padding: 0px;
margin: -2px;
border: 3px solid white;
}
footer{
font-size: 15px;
margin-top: 30px;
margin-left: 300px;
text-align: left;
}
.text1 {
color: white;
}
.text2 {
color:#D9D2D2;
}
.h4-1 {
padding-top: 15px; 
margin-bottom: 0px;
font-size: 20px;
}
.h4-2 {
margin-top: -10px;
padding-bottom: 20px;
font-size: 25px;
}
i {
font-size: 30px;
}
#table1 {
width:calc(50% + 2px);
background-color: #6F9BEB;
}
#table2 {
width:calc(25% + 2px);
background-color: #2BD6D0;
}
#table3 {
width:calc(25% + 2px);
background-color: #723797;
}
#table4 {
width:calc(25% + 3px);
background-color: #A31414;
}
#table5 {
width:calc(25% + 3px);
background-color: #E06161;
}
#table6 {
width:calc(25% + 2px);
background-color: #CB9728;
}
#table7 {
width:calc(25% + 2px);
background-color: #64D8B0;
}
#table8 {
width:calc(25% + 2px);
background-color: #90A9A2;
}
#table9 {
width:calc(50% + 2px);
background-color: #D743D5;
}
#table10 {
width:calc(25% + 2px);
background-color: #1C7460;
}
#table11 {
width:calc(100% - 2px);
background-color: #AA90D9;
}
@media screen and (max-width: 700px) {
	 .city-list li[class*='text'] {
        width: 100%;
    }

    body {
        border: none;
    }

    body:before,
    body:after {
        display: none;
    }
}